*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(53,58,64);
    z-index: 9999;
}

footer{
    background-color: rgb(31,82,112);
}


#fondo{
    z-index: -1;
    filter: brightness(50%);
}

#mensajeBienvenida{
    z-index: 100;
}

#honolulu{
    background-color: rgb(53,58,64);
}

.charla{
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

#aclaracion{
    font-size: 14px;
}

#envio{
    background-color: rgb(150,201,62);
}

.palacio{
    filter: brightness(50%);
    margin-top: -10%;
    position: relative;
}

.mensajeBienvenida{
    position: absolute;
    top: 50%;
    right: 10%
}

/*
    <section id="intro" class="col-lg-12 text-white position-relative">

        <img id="fondo" class="img-fluid" src="./img/ba1.jpg" alt="">
    
        <div id="mensajeBienvenida" class="container row-align-center">
            
            <p class="fs-4 text pb-2 col-lg-4 text-end position-absolute top-50 start-100">
                Bs As llega por primera vez a Argentina. Un evento para compartir con
                nuestra comunidad el conocimiento y experiencia de los expertos que
                están creando el futuro de Internet. Ven a conocer a miembros del
                evento, a otros estudiantes de Codo a Codo y los oradores del primer
                nivel que tenemos para ti. Te esperamos!
            </p>

            <button type="button" class="btn btn-outline-light btn-lg p-2 fs-4 text">Quiero ser orador</button>
            <button type="button" class="btn btn-success btn-lg p-2 fs-4 text">Comprar tickets</button>

        </div>

    </section>
    */