*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(53,58,64);
}

footer{
    background-color: rgb(31,82,112);
}

#honolulu{
    background-color: rgb(53,58,64);
}

.charla{
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

#aclaracion{
    font-size: 14px;
}

#envio, #btnBorrar, #btnResumen{
    background-color: rgb(150,201,62);
}

.hero-image {
    max-width: 100%;
    height: 88vh;
    background-image: linear-gradient( rgba(0, 0 , 0, .5), rgba(0,0,0, 0.5)), url("../img/ba1.jpg");
    background-size: cover;
    background-position: 0 80%;
}

.hero-content{
    position: absolute;
    top: 43%;
    right: 10%
}
